<div>
    Text: @Text
</div>

<div>
    Child Content: @ChildContent
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
